<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.mapper.UserMapper">

    <resultMap id="UserMap" type="org.example.type.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="createTime" column="createtime"/>
        <result property="updateTime" column="updatetime"/>
        <result property="lock" column="lock"/>
        <result property="isDeleted" column="isdeleted"/>
    </resultMap>

    <select id="findAll" resultMap="UserMap">
        SELECT * FROM users
    </select>

    <select id="findById" resultMap="UserMap">
        SELECT * FROM users WHERE id = #{id}
    </select>

    <select id="findByName" resultMap="UserMap">
        SELECT * FROM users WHERE username = #{username}
    </select>

    <insert id="insert" parameterType="org.example.type.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO users( username, password)
        VALUES (#{username}, #{password})
    </insert>
</mapper>
